/* google fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background-color: rgb(0, 0, 0);
}

.Container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    text-align: center;
    padding-bottom: 40px;
}

nav {
    background-color: #444444;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    scroll-behavior: smooth;
    margin-top: 20px;
    margin-bottom: 30px;
}

main {
    background-color: rgb(0, 0, 0);
    height: 400px;
    text-align: center;
    padding-top: 20px;
    padding-left: 240;
    padding-right: 240;
}

footer{
    background: #363636;
    padding-top: 4px;
    border-radius: 10px;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3em;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: all 2.5s ease;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1em;
    cursor: context-menu;
}

a {
    color: white;
    text-align: center;
    padding-left: 2000;
    padding-right: 2000;
    cursor: unset;
    font-weight: 400;
}

.h222224 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}

Nav a {
    text-decoration: none;
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: serif,Georgia, 'Times New Roman', Times, serif;
}

footer p {
    font-size: 11px;
    text-align: center;
    color: #fff;

}
footer .footerp {
    font-size: 11px;
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}
footer .footerp1 {
    font-size: 11px;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}
footer .footerp1:hover {
    color:blanchedalmond;
    transition: all 1.0s ease;
}
footer .footerp:hover {
    color:blanchedalmond;
    transition: all 1.0s ease;
}

.maps {
    padding-bottom: 70px;
}

footer img {
    align-self: center;
} 
footer a {
    padding-left: 74px;
    padding-right: 70px;
    cursor: pointer;
}

.main5 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 10px;
    text-align: right;
    padding-top: 40px;
    padding-left: 240;
    padding-right: 240;
    vertical-align: text-top;

}
.h3 {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif;
}

.h5 {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif;
}

.h6 {
    font-style: italic;
    font-size: 11px;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif; 
}
.h4 {
    font-style: italic;
    font-size: 11px;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif; 
}
.deutschland {
    font-style: italic;
    font-size: 10px;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif; 
}

.here1 {
    background: rgb(255, 255, 255, 0.527);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .4em 1em;
    font-size: 1.2em;
    border-radius: .9em;
    scroll-behavior: smooth;
}
.btn {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #363636;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    cursor: context-menu;
    cursor: pointer;
}
.btn span {
    position: relative;
    z-index: 1;
    
}
.btn::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: cadetblue;
    transition: width 0.5s, height 0.5s;
    color:blanchedalmond;
}
.btn:hover::before {
    width: 300px;
    height: 300px;
}


.here2 {
    background: rgb(255, 255, 255, 0.527);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5px;
    scroll-behavior: smooth;
}
.aside {
    background: white;
    width: 100px;
    height: 1000px;
    margin-left: auto;
}
.sidebar {
    background: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar1 {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar2 {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar3 {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar4 {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar5 {
    background: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
}
.sidebar6 {
    background: rgba(255, 255, 255, 0);
    color: black;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 10px;
    border-radius: .9em;
    text-align: left;
    padding: auto;
}
.tic-tac-toe {
    text-align: center;
    margin-left: 400px;
    margin-right: 80px;
    padding: .4em 1em;
    border-radius: 1000px;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 20em;
    

}
.h16 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: top;
}

.messages {
    background: white;
    color: black;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.2em;
    border-radius: .9em;
    padding-left: 50px;
    padding-right: 30px;
}
.h11 {
    padding-top: 50px;
    padding-bottom: 0px;
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    transition: all 1.9s ease;
    margin-top: 0.1em;
    cursor: context-menu;
}
.h22 {
    padding-top: -1.0e,;
    padding-bottom: 100px;
    transition: all 1.9s ease;
}
.link1 {
    background-color: black;
    padding-top: 9px;
    padding-bottom: 8px;
    padding: .3em 1em;
    font-size: 1.0em;
    text-align: center;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.link2 {
    background-color: black;
    padding-top: 9px;
    padding-bottom: 8px;
    padding: .3em 1em;
    font-size: 1.0em;
    text-align: center;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.link3 {
    background-color: black;
    padding-top: 9px;
    padding-bottom: 8px;
    padding: .3em 1em;
    font-size: 1.0em;
    text-align: center;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.g1 {
    margin-left: 6px;
    padding-top: 10px;
    border-radius: 10px;
}
.g2 {
    padding-top: 10px;
    border-radius: 10px;
    padding: center;
}
.main2 {
    width: 1024px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding-top: 300px;
    padding-bottom: 500px;
}

.here5 {
    background: rgb(255, 255, 255, 0.527);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5px;
}
.:hover {
    background-color: cadetblue;
    color:blanchedalmond;
}
.box {
    background: #363636;
    color: #fff;
}
.box:hover {
    background-color: cadetblue;
    color:blanchedalmond;
}
.box3:hover {
    background-color: cadetblue;
    color:blanchedalmond;
}
.:hover {
    background-color: cadetblue;
    color:blanchedalmond;
}
.here1:hover {
    background-color: cadetblue;
    color:blanchedalmond;
}
.link1:hover {
    background-color: cadetblue;
    color:blanchedalmond;
    position: relative;
}
.link2:hover {
    background-color: cadetblue;
    color:blanchedalmond;
    position: relative;
}
.link3:hover {
    background-color: cadetblue;
    color:blanchedalmond;
    position: relative;
}
.h11:hover {
    color:blanchedalmond;
}
.h22:hover {
    color:blanchedalmond;
}
nav:hover {
}
.a1:hover {
    transform: rotate(360deg);
}
.here66 {
    margin-left: 300px;
    margin-bottom: 100px;
    width: 30%;
    height: 100%;
    object-fit:cover;
    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}
.# {
    transform: translate(100%, -50%);
    right: 52%;
}
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
class or name:hover {
    transform: rotate(360deg);
}
transition: 0.5s;
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
{
    transform: translateY(30px) scale(0.5);
}
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.here2 {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #363636;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.here2 span {
    position: relative;
    z-index: 1;
}
.here2::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: cadetblue;
    transition: width 0.5s, height 0.5s;
    color:blanchedalmond;
}
.here2:hover::before {
    width: 300px;
    height: 300px;
}





.here5 {
    position: relative;
    display: inline-flex;
    padding: 10px 30px;
    background: #363636;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
}
.here5 span {
    position: relative;
    z-index: 1;
}
.here5::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: cadetblue;
    transition: width 0.5s, height 0.5s;
    color:blanchedalmond;
}
.here5:hover::before {
    width: 300px;
    height: 300px;
}
.h4:hover,
.h6:hover{
    text-decoration: underline;
    cursor: pointer;
}
, {
    top: 0;
    left: 0;
    transform: rotate(180deg);
}











.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.container1 .cards1 {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#fff, #fff 30% ,
    #000000 30%, #000000);
    margin: 10px;
    float:left;
    border-radius: 20px;
    overflow: hidden;

}
.container1 .cards1 .imgBx1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
.container1 .cards1:hover .imgBx1
{
    transform: translateY(30px) scale(0.5);
}
.container1 .cards1 .imgBx1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container1 .cards1 .content1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container1 .cards1:hover .content1 {
    transform: translateY(0);
}
.container1 .cards1 .content1 .details1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container1 .cards1 .content1 .details1 .h2222321 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}
.container1 .cards1 .content1 .details1 .h2222321 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #fff;
}
.container1 .cards1 .content1 .details1 .social_icons1 {
    position: relative;
    display: flex;
    margin: 5px;
    margin-right: 50px;
    z-index: 3;
}
.social_icons1 {
    list-style: none;
}
.social_icons1 img {
    list-style: none;
    margin: 4px;
}
.social_icons1 li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363636;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}
.social_icons1 li a:hover {
    transform: rotate(360deg);
}




.div111111111 {
    background: rgb(0, 0, 0);
    width: 1000px;
    height: 200px;
}








.container12 {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container12 .cards12 {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#363636,  30% ,
    #000000 30%, #000000);
    border-radius: 20px;
    overflow: hidden;
    margin-left: 43em;
}
.container12 .cards12 .imgBx12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
.container12 .cards12:hover .imgBx12
{
    transform: translateY(30px) scale(0.5);
}
.container12 .cards12 .imgBx12 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container12 .cards12 .content12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container12 .cards12:hover .content12 {
    transform: translateY(0);
}
.container12 .cards12 .content12 .details12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container12 .cards12 .content12 .details12 .h2222322 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}
.container12 .cards12 .content12 .details12 .h2222322 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #fff;
}
.container12 .cards12 .content12 .details12 .social_icons12 {
    position: relative;
    display: flex;
    margin: 5px;
    margin-right: 50px;
}
.social_icons12 {
    list-style: none;
}
.social_icons12 img {
    list-style: none;
    margin: 4px;
}
.social_icons12 li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363636;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}
.social_icons12 li a:hover {
    transform: rotate(360deg);
}
























.container13 {
    position: relative;
    justify-content: center;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container13 .cards13 {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#363636, #363636 30% ,
    #000000 30%, #000000);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.container13 .cards13 .imgBx13 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
.container13 .cards13:hover .imgBx13
{
    transform: translateY(30px) scale(0.5);
}
.container13 .cards13 .imgBx13 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container13 .cards13 .content13 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container13 .cards13:hover .content13 {
    transform: translateY(0);
}
.container13 .cards13 .content13 .details13 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container13 .cards13 .content13 .details13 .h2222323 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}
.container13 .cards13 .content13 .details13 .h2222323 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #fff;
}
.container13 .cards13 .content13 .details13 .social_icons13 {
    position: relative;
    display: flex;
    margin: 5px;
    margin-right: 50px;
    z-index: 3;
}
.social_icons13 {
    list-style: none;
}
.social_icons13 img {
    list-style: none;
    margin: 4px;
}
.social_icons13 li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363636;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}
.social_icons13 li a:hover {
    transform: rotate(360deg);
}




















.container14 {
    position: relative;
    justify-content: center;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container14 .cards14 {
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(#363636, #363636 30% ,
    #000000 30%, #000000);
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.container14 .cards14 .imgBx14 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 100000;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
}
.container14 .cards14:hover .imgBx14
{
    transform: translateY(30px) scale(0.5);
}
.container14 .cards14 .imgBx14 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container14 .cards14 .content14{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
    transform: translateY(100%);
    transition: 0.5s;
}
.container14 .cards14:hover .content14 {
    transform: translateY(0);
}
.container14 .cards14 .content14 .details14 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container14 .cards14 .content14 .details14 .h2222324 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}
.container14 .cards14 .content14 .details14 .h2222324 span {
    font-size: 0.8em;
    font-weight: 400;
    color: #fff;
}
.container14 .cards14 .content14 .details14 .social_icons14 {
    position: relative;
    display: flex;
    margin: 5px;
    margin-right: 30px;
    z-index: 3;
}
.social_icons14 {
    list-style: none;
}
.social_icons14 img {
    list-style: none;
    margin: 4px;
}
.social_icons14 li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #363636;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    transition: 0.5s;
}
.social_icons14 li a:hover {
    transform: rotate(360deg);
}
i {
color: white;
width: 15px;
height: 20px;
}















